body {
	text-align: center;
	background-color: #BE78C1;  
	
}


a {
	padding: 15px;
	margin: 3px;
	font-size: 130%;
	background-color:  #512551; 
	color:  #FFFFFF; 
}


a:hover {
	font-size:170%;
	background-color: #E0C4E7; 
	color: #86007D; 
}