@charset "UTF-8";
/* CSS Document */


a {
	padding: 15px;
	margin: 3px;
	font-size: 150%;
	background-color:  #FEFFFC; 
	color:  #DF7A00; 
}


a:hover {
	font-size:170%;
	background-color: #DF7A00; 
	color: #FEFFFC; 
}

body {
	text-align: center;
	background-color: floralwhite; /* background color */
	color: #444; /* text color for the entire page */
	font-size: 18px;
	font-family: Verdana, Geneva, sans-serif;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */

.SectionTitle{
	padding:13px;
	text-align:center;
	font-size:20px;
	background-color:#F2A505
 }

.SectionContent{ 
	background-color: floralwhite;
	padding:30px;
	font-size:16px;
	display: flex;
	justify-content: center;
}

.SectionDescription {
	width:80%;
	padding:16px;
	text-align: center;
}

.SectionImage {
	width:60%;	
	padding:10px;
	text-align: right;
}


h1, h2, h3 { 
	text-align:center;     /* centers h1, h2, h3 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
width: 1350px;
margin: auto;
text-align: center;
}

#wrapper_1 {
width: 1350px;
margin: auto;
text-align: center;
}

.choices {
cursor: pointer;
}
