/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#d0d5cd;   /* background color */
	color: #444;          /* text color for the entire page */
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:920px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:6px;
	text-align:left;
	font-size:16px;
	background-color:#F7B857
 }

.stepContent{ 
	background-color: white;
	padding:10px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:12px;
}

.stepImage {
	width:50%;	
	padding:5px;
	text-align: center;
}


